[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar {
    margin-bottom: 0px;
}

.navbar ul li:hover {
    background-color: lightgray;
}

.jumbotron {
    text-align: center;
}

body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

fieldset {
    padding: 20px 15%;
}

#city label {
    margin-right: 10px;
}

#city input {
    margin-right: 118px;
}


form #dates {
    display: inline-block;
}

#dates #departing, #dates #return {
    margin-right: 20px;
}

#departing {
    float: left; 
}

#return {
    float: right;
}

#submit {
    text-align: center;
    margin-top: 35px;
}

#submit button {
    font-size: 25px;
}

#flight-list {
    height: 500px;
    border: 1px solid black; 
}

md-title .origin{
    margin-right: 10px;
    margin-left: 10px;
}

md-title .destination {
    margin-left: 100px;
}

md-card-content label span {
    font-weight: normal;
    margin-left: 10px;
}

#show-extra, #flight-extra {
    height: 200px;
    border: 1px solid red; 
}

#extras {
    display: inline-block;
    width: 100%;
}

#flight-extra {
    float: left;
    width: 65%;
}

#show-extra {
    float: right;
    width: 35%;
}