<!DOCTYPE html>
<html ng-app="sabrettx">
<head>
    <title>UpSell Travel | Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body ng-cloak>
<div ng-controller="FlightInputController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./flightPicker.html" class="navbar-brand"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> UpSell Travel</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 style ="color: #344756">Welcome to UpSell Travel</h1>
        Enter Your Customer's Flight Details To Get Started
    </div>
    <div class="container">
        <form>
            <fieldset id="city">
                <label for="originCity">Origin: </label>
                <input id="originCity" type="text" name="originCity" required ng-model="flight.origin">
                <label for="destinationCity">Destination: </label>
                <input id="destinationCity" type="text" name="destinationCity" required ng-model="flight.destination">
            </fieldset>
            <fieldset id="dates">
                <div id="departing">
                    <label for="departing">Departure Date: </label><br>
                    <md-calendar id="departing" ng-model="flight.departing"></md-calendar>
                </div>
                <div id="return">
                    <label for="return">Return Date: </label><br>
                    <md-calendar required id="return" ng-model="flight.return"></md-calendar>
                </div>
            </fieldset>
            <fieldset id="submit">
                <md-button style = "background-color: #344756;" type="submit" ng-click="saveFlightData(flight)" class="md-raised md-primary">Search</md-button>

            </fieldset>
        </form>
        <div id="flight-list" style="overflow-y: scroll;" ng-show="flight_check">
            <ul style = "list-style: none;">
                <li ng-repeat="flight in flights">
                    <md-card id="card" ng-click="test()" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                        <md-card-header>
                            <md-card-header-text>
                                <div class="row" style ="margin-left:0px; margin-right: 0px">
                                    <md-title style= "float: left"> <img style = " width: 50px; height: 50px; display:block;"  ng-src="assets/take-off.png"/><span class="airportTitle"> {{ origin }} </span><img style = " margin-left: 95px ;margin-bottom: 35px; display: inline; width: 50px; height: 50px"  ng-src="assets/forward.png"/></md-title>

                                    <md-title style= "float: right"><img style = " width: 50px; height: 50px; margin-right: 400px; display:block;" ng-src="assets/landing.png"/><span class="airportTitleDestination"> {{ destination }} </span></md-title>
                                </div>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <label>Departure Flight: <span>{{ flight.DepartFlight.depart_date | flightTime}}  <img style = " width: 75px; height: 50px"  ng-src="assets/horizontal.png"/> {{ flight.DepartFlight.arrival_date| flightTime}} </span></label><br>
                            <label>Return Flight: <span> {{ flight.ReturnFlight.depart_date| flightTime}} <img style = " width: 75px; height: 50px"  ng-src="assets/horizontal.png"/>  {{ flight.ReturnFlight.arrival_date| flightTime}}</span></label><br>
                            <label>Price: <span>{{ flight.TotalFare | currency}} </span></label>
                        </md-card-content>
                    </md-card>
                </li>
            </ul>
        </div>
        <div id="no-flight" ng-show="no_weekend">
            No Free Weekends for your trip
        </div>
        <div ng-show="yes_weekend" id="extras">
            <h3>Weekend Experiences</h3>
            <hr noshade>
            <div id="flight-extra" style="overflow-y: scroll;">
                <ul style = "list-style: none;" >
                    <li ng-repeat="flight in upsellflightsLAX | limitTo: 2">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ destination }} to LAX  </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Departure Flight:  <span> {{ flight.DepartFlight.depart_date | flightTime}} </span></label>
                                <label>Return Flight:  <span>{{ flight.ReturnFlight.depart_date| flightTime}}</span></label>
                                <label>Price:  <span> {{ flight.TotalFare | currency}}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                    <li ng-repeat="flight in upsellflightsSFO | limitTo: 2">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ destination }} to SFO  </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Departure Flight:  <span> {{ flight.DepartFlight.depart_date | flightTime}} </span></label>
                                <label>Return Flight:  <span>{{ flight.ReturnFlight.depart_date| flightTime}}</span></label>
                                <label>Price:  <span> {{ flight.TotalFare | currency}}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                    <li ng-repeat="flight in upsellflightsSEA | limitTo: 2">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ destination }} to SEA  </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Departure Flight:  <span> {{ flight.DepartFlight.depart_date | flightTime}} </span></label>
                                <label>Return Flight:  <span>{{ flight.ReturnFlight.depart_date| flightTime}}</span></label>
                                <label>Price:  <span> {{ flight.TotalFare | currency}}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                    <li ng-repeat="flight in upsellflightsLAS | limitTo: 2">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ destination }} to LAS  </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Departure Flight:  <span> {{ flight.DepartFlight.depart_date | flightTime}} </span></label>
                                <label>Return Flight:  <span>{{ flight.ReturnFlight.depart_date| flightTime}}</span></label>
                                <label>Price:  <span> {{ flight.TotalFare | currency}}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                </ul>
            </div>
            <div id="show-extra" style="overflow-y: scroll;">
                <ul style = "list-style: none;">
                    <li ng-repeat="event in upsellEventsLAX.events">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ event.name }} </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Time:  <span> {{ event.time | flightTime }}</span></label>
                                <label>Venue:  <span> {{ event.venue }}</span></label>
                                <label>Tickets Left:  <span> {{ event.availableTkt }}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                    <li ng-repeat="event in upsellEventsSFO.events">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ event.name }} </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Time:  <span> {{ event.time | flightTime }}</span></label>
                                <label>Venue:  <span> {{ event.venue }}</span></label>
                                <label>Tickets Left:  <span> {{ event.availableTkt }}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                    <li ng-repeat="event in upsellEventsSEA.events">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ event.name }} </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Time:  <span> {{ event.time | flightTime }}</span></label>
                                <label>Venue:  <span> {{ event.venue }}</span></label>
                                <label>Tickets Left:  <span> {{ event.availableTkt }}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                    <li ng-repeat="event in upsellEventsLAS.events">
                        <md-card id="card" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                            <md-card-header>
                                <md-card-header-text>
                                    <md-title style="font-size: 75%"><span class="airportTitle"> {{ event.name }} </span></md-title>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <label>Time:  <span> {{ event.time | flightTime }}</span></label>
                                <label>Venue:  <span> {{ event.venue }}</span></label>
                                <label>Tickets Left:  <span> {{ event.availableTkt }}</span></label>
                            </md-card-content>
                        </md-card>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/FlightInputController.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
</body>
</html>

<!-- '2016-08-13T19:27:00' -->
<!-- Mon Aug 15 2016 21:45:00 GMT-0700 (PDT) -->